<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4682b4" />
    <link rel="manifest" href="app.webmanifest" />
    <link rel="icon" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Quicksand:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>Kuliner Apps</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to content ?</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <a href="/">
        <h1 class="app-bar__brand">Kuliner Apps</h1>
      </a>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/raissa-atha-febrianti-2b4bb5221"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <section>
      <div class="hero">
        <div tabindex="0" class="title__inner">
          <h1 class="hero_title">Selamat Datang di Kuliner Apps</h1>
          <p class="hero_desc">
            Diet kamu adalah rekening bank. Pilihan makanan yang baik adalah
            investasi yang baik
          </p>
        </div>
      </div>
    </section>

    <main tabindex="0" id="main-content" class="main-content__container"></main>

    <footer tabindex="0">
      <p>Copyright © 2023 - Kuliner Apps</p>
    </footer>
  </body>
</html>
