@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Quicksand:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  background-color: steelblue;
  color: #fff;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-box {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.8rem;
}

.hamburger-menu i {
  color: #fff;
}

.logo-box img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.nav-menu a {
  padding: 0.8rem 0.5rem;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

.nav-menu a:hover {
  font-weight: bold;
  font-size: 17px;
}

.hero {
  width: 100%;
  height: 80vh;
  background-image: url(../public/images/heros/hero-image_2.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 0;
  position: relative;
}

.explore {
  text-align: center;
  margin-top: 2rem;
}

.search {
  text-align: center;
  margin-top: 1rem;
}

.search label {
  display: inline-block;
  margin-bottom: 10px;
}

.search input {
  height: 3rem;
  padding: 8px;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.restaurantList {
  width: 100%;
  min-height: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.card-restaurant {
  border: 1px solid #dedede;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  border-radius: 0.2rem;
}

.card-restaurant-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-restaurant img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-restaurant-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.rating {
  font-size: 16px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
}

.description {
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
}

.description.active {
  display: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: unset;
}

.read-more {
  width: 7rem;
  padding: 0.9rem 0;
  background-color: cornflowerblue;
  border: none;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

.read-more:hover {
  background-color: steelblue;
}

footer {
  background-color: cornflowerblue;
  color: white;
  font-size: 14px;
  padding: 2em;
  width: 100%;
  text-align: center;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 100px;
}

a {
  text-decoration: none;
}

.menus {
  display: none;
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0;
  gap: 2rem;
  padding: 20px 0;
  width: 200px;
  border-radius: 0 0 5px 0;
  background-color: steelblue;
  text-align: center;
}

.d-none {
  display: block;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dropdown-menu a {
  color: white;
  padding: 0.7rem 0.8rem;
}
