@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Quicksand:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-bar {
  padding: 8px 16px;
  background-color: #4682b4;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em; 
  padding: 0.8em;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
  color: #fff;
}
 
.app-bar .app-bar__brand h1 {
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  padding: 0.6em;
}

.app-bar .app-bar__navigation ul li a:hover {
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
}

.hero {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../public/images/heros/hero-image_2.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
}

.hero_title{
  color: #FFC436;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
}

.hero_desc {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 16px;
}

.explore {
  text-align: center;
  margin-top: 2rem;
}

.search {
  text-align: center;
  margin-top: 1rem;
}

.search label {
  display: inline-block;
  margin-bottom: 10px;
}

.search input {
  height: 3rem;
  padding: 8px;
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.restaurantList {
  width: 100%;
  min-height: 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
}

.card-restaurant {
  border: 1px solid #dedede;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  border-radius: 0.2rem;
}

.card-restaurant-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.card-restaurant img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-restaurant-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  color: black;
}

.rating {
  font-size: 16px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
}

.description {
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  color: black;
}

.description.active {
  display: unset;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: unset;
}

.explore-restaurant__label {
  text-align: center;
  margin-top: 2rem;
}

.detail {
  padding: 20px;
  margin: 2em;
  margin-top: 0px;
}

.container-info {
  background-color: white;
  border-radius: 4px;
  padding: 1.5em;
}

.detail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detail-info {
  list-style: none;
  color: #053b50;
}

.detail-menu {
  background-color: white;
  border-radius: 4px;
  padding: 1.5em;
}

.container-review {
  background-color: white;
  border-radius: 4px;
  padding: 1.5em;
  margin-top: 15px;
}

.detail-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon-primary {
  font-size: 1.2em;
  margin-right: 10px;
  color: yellow;
}

.detail-name-address-rating-description {
  margin: 0;
}

.resto-name {
  font-weight: bold;
  font-size: large;
}

.resto-address {
  font-weight: bold;
}

.resto-rating {
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-menu h4 {
  font-size: 20px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 4px
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

.title-review {
  font-size: 20px;
  margin-top: 20px;
}

.detail-review {
  margin-top: 10px;
}

.detail-review-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.name-review {
  font-weight: bold;
  margin: 0;
}

.date-review {
  margin: 0;
}

.like {
  font-size: 18px;
  background-color: #4682b4;
  color: #bf1722;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 10;
}

footer {
  background-color: cornflowerblue;
  color: white;
  font-size: 14px;
  padding: 2em;
  width: 100%;
  text-align: center;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 100px;
}

a {
  text-decoration: none;
}

.menus {
  display: none;
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0;
  gap: 2rem;
  padding: 20px 0;
  width: 200px;
  border-radius: 0 0 5px 0;
  background-color: steelblue;
  text-align: center;
}

.d-none {
  display: block;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dropdown-menu a {
  color: white;
  padding: 0.7rem 0.8rem;
}
